.App {
  text-align: center;
}

#loader {
  display: none;
}

#loader.show {
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url(images/news_background.jpg), transparent;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(53, 66, 79, 0.3);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.news-container {
  padding-top: 20px;
  display: grid;
  grid-template-rows: 35vh 35vh 35vh 35vh 35vh;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(4, 1fr);
}

.single-news {
  overflow: hidden;
  border-radius: 5px;
}

.single-news a {
  color: #000000;
  text-decoration: none;
  text-overflow: ellipsis;
}

.single-news img {
  width: 100%;
  border-radius: 5px;
}